In [2]:
import pandas as pd
import os

# handles a list of files on the filesystem with names matching a pattern
import glob

In [3]:
# access files in folder "data"
os.listdir('data')

['data-201710-12.csv',
 'data-201707-09.csv',
 'data-201801-03.csv',
 'data-201901-03.csv',
 'data-201704-06.csv',
 'data-201701-03.csv',
 'data-201804-06.csv',
 'data-201810-12.csv',
 'data-201807-09.csv']

In [7]:
path = "data"
filelist = glob.glob(path + "/data*.csv")
filelist

['data/data-201710-12.csv',
 'data/data-201707-09.csv',
 'data/data-201801-03.csv',
 'data/data-201901-03.csv',
 'data/data-201704-06.csv',
 'data/data-201701-03.csv',
 'data/data-201804-06.csv',
 'data/data-201810-12.csv',
 'data/data-201807-09.csv']

In [8]:
list = []
for f in filelist:
    df = (pd.read_csv(f))
    list.append(df)

In [9]:
concat_list = pd.concat(list, axis = 0, ignore_index = True)
concat_list

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,10/1/17,55503,139011,246193,3511,235
1,10/2/17,65509,141748,246402,1408,242
2,10/3/17,69105,135800,246566,1258,194
3,10/4/17,71453,150324,246742,1377,188
4,10/5/17,70173,150437,246893,1365,251
5,10/6/17,70249,148395,247025,2104,383
6,10/7/17,63630,153928,247206,4996,356
7,10/8/17,41039,100790,247336,2233,192
8,10/9/17,38390,78912,247453,594,84
9,10/10/17,74117,155978,247615,2016,312
10,10/11/17,63587,126748,247767,1146,161
11,10/12/17,61244,123433,247896,1070,169
12,10/13/17,67016,136608,248038,1768,308
13,10/14/17,58771,142476,248167,3680,347
14,10/15/17,56529,137364,248382,3381,276
15,10/16/17,61729,125800,248552,997,192
16,10/17/17,64480,122345,248712,1030,170
17,10/18/17,70233,147842,248878,1202,249
18,10/19/17,72311,143664,249016,1491,274
19,10/20/17,72174,157255,249162,2246,351
20,10/21/17,65872,169402,249378,5093,276
21,10/22/17,62148,153444,249596,4596,200
22,10/23/17,69273,143899,249825,1659,279
23,10/24/17,48077,95599,249930,466,82
24,10/25/17,71284,142007,250090,1133,246
25,10/26/17,64002,123419,250187,973,191
26,10/27/17,69265,139481,250319,1991,352
27,10/28/17,61345,143571,250499,4306,317
28,10/29/17,9537,20810,250556,213,8
29,10/30/17,49246,95502,250681,771,121
...,...,...,...,...,...,...
773,9/1/18,54318,116904,285245,6711,439
774,9/2/18,60828,140923,285368,5562,292
775,9/3/18,55067,117164,285609,6239,279
776,9/4/18,68655,114264,285867,2793,215
777,9/5/18,74981,124919,286102,2934,191
778,9/6/18,70264,113123,286304,2678,207
779,9/7/18,74586,127470,286475,3523,227
780,9/8/18,58284,111254,286637,5442,270
781,9/9/18,19950,30544,286752,895,16
782,9/10/18,23949,32472,286847,463,26
783,9/11/18,66552,109380,286985,2456,193
784,9/12/18,53241,82748,287120,1650,115
785,9/13/18,74054,123401,287262,2874,197
786,9/14/18,74330,128288,287412,3623,298
787,9/15/18,71185,149524,287622,7570,353
788,9/16/18,69515,150281,287897,7410,270
789,9/17/18,71340,118809,288137,2914,162
790,9/18/18,53077,82768,288266,1433,74
791,9/19/18,74372,129089,288450,3529,290
792,9/20/18,76803,129385,288599,3130,235
793,9/21/18,74940,128273,288719,3677,224
794,9/22/18,69133,142121,289160,7511,298
795,9/23/18,55494,104944,289370,4716,184
796,9/24/18,71631,115888,289524,2615,289
797,9/25/18,25430,35795,289591,506,65
798,9/26/18,68007,110772,289698,2423,296
799,9/27/18,75370,126480,289829,3044,399
800,9/28/18,57230,90249,289911,1986,296
801,9/29/18,69321,145920,290170,6960,906
802,9/30/18,66224,139423,290467,6367,675

In [10]:
concat_list.count()

Date                                                  803
Trips over the past 24-hours (midnight to 11:59pm)    803
Miles traveled today (midnight to 11:59 pm)           803
Total Annual Members (All Time)                       803
24-Hour Passes Purchased (midnight to 11:59 pm)       803
3-Day Passes Purchased (midnight to 11:59 pm)         803
dtype: int64

In [14]:

concat_list.to_csv("data/ridership_membership_data.csv")